.footer {
    margin-top: auto;
    background-color: #282c34;
    width: 100%;
    // .footer__wrapper
    &__wrapper {
        height: 90px;
        display: flex;

        @media (max-width: $md3) {
            flex-direction: column;
        }
        @media (max-width: $md4) {
            flex-direction: column;
        }

    }

    // .footer__left-side
    &__left-side {
        color: #999;
        flex: 0 1 30%;
        align-items: center;
        display: flex;
    }

    // .footer__right-side
    &__right-side {
        flex: 0 1 70%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

._container {
}


.left-side {
    flex: 0 1 50%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    // .left-side_body
    &_body {
        align-items: center;
    }
}

.right-side-column {
    flex: 0 1 33.33%;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media (max-width: 513px) {
        flex: 0 1 50%;
    }


    &_hidden{
        @media (max-width: 513px) {
            display: none;
        }
    }

    // .right-side-column__header
    &__header {
        color: #999;
        font-size: 14px;
        flex: 0 1 20%;
        height: 100%;
        font-weight: bold;
    }

    // .right-side-column__body
    &__body {
        flex: 0 1 80%;
        height: 100%;

        .menu__link {
            font-size: 11px;
            font-weight: lighter;
            min-height: 2px;
            text-decoration: none;
        }
    }
}

.menu {
    // .menu__body
    &__body {
    }

    // .menu__list
    &__list {
    }

    // .menu__link
    &__link._footer {
        color: #ffffff;
        padding: 5px 10px;
    }
}